In [1]:
dict1={'Ramesh':[150,46],'Suresh':[146,58],'Sudesh':[160,50]}

In [2]:
dict1['Ramesh']

[150, 46]

In [3]:
dict1['Suresh']

[146, 58]

In [4]:
dict1['Sudesh']

[160, 50]

# Adding Elements to the Dictionary

In [7]:
dict1['Neeraj']=[42,68]

In [8]:
dict1

{'Ramesh': [150, 46],
 'Suresh': [146, 58],
 'Sudesh': [160, 50],
 'Neeraj': [42, 68]}

In [9]:
dict1["jaydeep"]=[98,94]

In [10]:
dict1

{'Ramesh': [150, 46],
 'Suresh': [146, 58],
 'Sudesh': [160, 50],
 'Neeraj': [42, 68],
 'jaydeep': [98, 94]}

In [11]:
dict1['Sonali']=[98,95]

In [12]:
dict1

{'Ramesh': [150, 46],
 'Suresh': [146, 58],
 'Sudesh': [160, 50],
 'Neeraj': [42, 68],
 'jaydeep': [98, 94],
 'Sonali': [98, 95]}

In [13]:
dict1['Aditya']=[99,92]

In [14]:
dict1

{'Ramesh': [150, 46],
 'Suresh': [146, 58],
 'Sudesh': [160, 50],
 'Neeraj': [42, 68],
 'jaydeep': [98, 94],
 'Sonali': [98, 95],
 'Aditya': [99, 92]}

In [15]:
dict1['Ayush']=[86,98]

In [16]:
dict1

{'Ramesh': [150, 46],
 'Suresh': [146, 58],
 'Sudesh': [160, 50],
 'Neeraj': [42, 68],
 'jaydeep': [98, 94],
 'Sonali': [98, 95],
 'Aditya': [99, 92],
 'Ayush': [86, 98]}

In [17]:
dict1['Arun']=[98,82]

In [18]:
dict1

{'Ramesh': [150, 46],
 'Suresh': [146, 58],
 'Sudesh': [160, 50],
 'Neeraj': [42, 68],
 'jaydeep': [98, 94],
 'Sonali': [98, 95],
 'Aditya': [99, 92],
 'Ayush': [86, 98],
 'Arun': [98, 82]}

In [19]:
dict1['Aham']=[56,75]

In [20]:
dict1

{'Ramesh': [150, 46],
 'Suresh': [146, 58],
 'Sudesh': [160, 50],
 'Neeraj': [42, 68],
 'jaydeep': [98, 94],
 'Sonali': [98, 95],
 'Aditya': [99, 92],
 'Ayush': [86, 98],
 'Arun': [98, 82],
 'Aham': [56, 75]}

In [21]:
dict1.update({'Sunil':[56,47],'Disha':[85,45]})

In [22]:
dict1

{'Ramesh': [150, 46],
 'Suresh': [146, 58],
 'Sudesh': [160, 50],
 'Neeraj': [42, 68],
 'jaydeep': [98, 94],
 'Sonali': [98, 95],
 'Aditya': [99, 92],
 'Ayush': [86, 98],
 'Arun': [98, 82],
 'Aham': [56, 75],
 'Sunil': [56, 47],
 'Disha': [85, 45]}

In [23]:
dict1['PIyush']=[56,67]

In [24]:
dict1

{'Ramesh': [150, 46],
 'Suresh': [146, 58],
 'Sudesh': [160, 50],
 'Neeraj': [42, 68],
 'jaydeep': [98, 94],
 'Sonali': [98, 95],
 'Aditya': [99, 92],
 'Ayush': [86, 98],
 'Arun': [98, 82],
 'Aham': [56, 75],
 'Sunil': [56, 47],
 'Disha': [85, 45],
 'PIyush': [56, 67]}

In [25]:
del dict1['Sonali']

In [26]:
dict1

{'Ramesh': [150, 46],
 'Suresh': [146, 58],
 'Sudesh': [160, 50],
 'Neeraj': [42, 68],
 'jaydeep': [98, 94],
 'Aditya': [99, 92],
 'Ayush': [86, 98],
 'Arun': [98, 82],
 'Aham': [56, 75],
 'Sunil': [56, 47],
 'Disha': [85, 45],
 'PIyush': [56, 67]}

In [27]:
del dict1['jaydeep']

In [29]:
dict1

{'Ramesh': [150, 46],
 'Suresh': [146, 58],
 'Sudesh': [160, 50],
 'Neeraj': [42, 68],
 'Aditya': [99, 92],
 'Ayush': [86, 98],
 'Arun': [98, 82],
 'Aham': [56, 75],
 'Sunil': [56, 47],
 'Disha': [85, 45],
 'PIyush': [56, 67]}

In [30]:
del dict1['Neeraj']

In [31]:
dict1

{'Ramesh': [150, 46],
 'Suresh': [146, 58],
 'Sudesh': [160, 50],
 'Aditya': [99, 92],
 'Ayush': [86, 98],
 'Arun': [98, 82],
 'Aham': [56, 75],
 'Sunil': [56, 47],
 'Disha': [85, 45],
 'PIyush': [56, 67]}

In [32]:
del dict1['Ramesh']

In [33]:
dict1

{'Suresh': [146, 58],
 'Sudesh': [160, 50],
 'Aditya': [99, 92],
 'Ayush': [86, 98],
 'Arun': [98, 82],
 'Aham': [56, 75],
 'Sunil': [56, 47],
 'Disha': [85, 45],
 'PIyush': [56, 67]}

In [34]:
del dict1['Ayush']

In [35]:
dict1

{'Suresh': [146, 58],
 'Sudesh': [160, 50],
 'Aditya': [99, 92],
 'Arun': [98, 82],
 'Aham': [56, 75],
 'Sunil': [56, 47],
 'Disha': [85, 45],
 'PIyush': [56, 67]}

In [36]:
del dict1['Suresh']

In [37]:
dict1

{'Sudesh': [160, 50],
 'Aditya': [99, 92],
 'Arun': [98, 82],
 'Aham': [56, 75],
 'Sunil': [56, 47],
 'Disha': [85, 45],
 'PIyush': [56, 67]}

In [38]:
del dict1['Sudesh']

In [39]:
dict1

{'Aditya': [99, 92],
 'Arun': [98, 82],
 'Aham': [56, 75],
 'Sunil': [56, 47],
 'Disha': [85, 45],
 'PIyush': [56, 67]}

In [40]:
del dict1['Aditya']

In [41]:
dict1

{'Arun': [98, 82],
 'Aham': [56, 75],
 'Sunil': [56, 47],
 'Disha': [85, 45],
 'PIyush': [56, 67]}

In [42]:
del dict1['Arun']

In [43]:
dict1

{'Aham': [56, 75], 'Sunil': [56, 47], 'Disha': [85, 45], 'PIyush': [56, 67]}

In [44]:
del dict1['Aham']

In [45]:
dict1

{'Sunil': [56, 47], 'Disha': [85, 45], 'PIyush': [56, 67]}

In [46]:
del dict1['Disha']

In [47]:
dict1

{'Sunil': [56, 47], 'PIyush': [56, 67]}