In [6]:
#Loading library
import pandas as pd

In [8]:
#Loading data
data = pd.read_csv("6 Median.csv")

In [9]:
#Printing first 5 rows
data.head()

   Student  Overall Marks Gender    Subject
0    Anish           9700   Male    English
1  Rishabh             83   Male    English
2     Ajay             78   Male    Physics
3  Abhinav             86   Male  Chemistry
4   Anurag             91   Male    English

In [10]:
#Calculating meadian
median_data = data['Overall Marks'].median()

In [11]:
#Printing media
print(median_data)

77.0

In [19]:
#Calculating Quantiltes. Remember Quantiles are 1/4th of quartiles.
Q1 = data['Overall Marks'].quantile(0.25)
print ("First Quartile", Q1)

First Quartile 57.25

In [20]:
Q2 = data['Overall Marks'].quantile(0.5)
Q3 = data['Overall Marks'].quantile(0.75)
Q4 = data['Overall Marks'].quantile(1)

In [22]:
print ("Second Quartile", Q2)
print ("Third Quartile", Q3)
print ("Fourth Quartile", Q4)

Second Quartile 77.0
Third Quartile 87.25
Fourth Quartile 9700.0